@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Login">
            <div class="form-group">
                <label for="user" class="control-label">Username:</label>
                <input type="text" for="user" name="user" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Content" class="control-label">Password:</label>
                <input type="password" for="email" name="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
            @{ 
                if(ViewBag.FormError != null)
                {
                    <span class="text-danger">Username or password invalid.</span>
                }
            }
        </form>
    </div>
</div>