@model BlogApp.Models.MongoDB.PostDetails

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p><em>@Html.DisplayFor(model => model.WhenCreated)</em></p>
    <p>@Html.Raw(Model.Content)</p>
</div>
