@model IEnumerable<BlogApp.Models.MongoDB.PostList>

@{
    ViewData["Title"] = "Index";
}

<h4></h4>

@foreach (var item in Model) {
    <div>
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p><em>@Html.DisplayFor(modelItem => item.WhenCreated)</em></p>
        <p>
            @Html.Raw(item.TruncatedContent.Replace(Environment.NewLine, "<br/>"))
            <br>
            <a asp-action="Details" asp-route-id="@item.SqlId">Read more</a>
        </p>
    </div>
}

